:root {
    --veryLightPink: #c7c7c7;
    --white: #fff;
    --textInputField: #f7f7f7;
    --black: #000;
    --hospitalGreen: #acd9b2;
    --dark: #232830;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
}
nav {
    display: flex;
    width: 100%;
    height: 5.6rem;
    justify-content: space-between;
    padding: 0 2.4rem;
    box-shadow: 0 0 .5rem var(--veryLightPink);
}
.menu {
    display: block;
    width: 3rem;
}
.logo {
    width: 10rem;
}
.navbar-left ul,
.navbar-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 5.6rem;
}
.navbar-left ul {
    display: none;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 1.2rem;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--veryLightPink);
    border: .1rem solid var(--white);
    padding: .8rem;
    border-radius: .8rem;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--hospitalGreen);
    border: .1rem solid var(--hospitalGreen);
    font-weight: bold;
}
.navbar-email {
    display: none;
}
.navbar-email {
    color: var(--veryLightPink);
    font-size: var(--sm);
}
.navbar-shopping-cart {
    position: relative;
    margin-right: 1.2rem;
}
.navbar-shopping-cart div {
    width: 1.6rem;
    height: 1.6rem;
    background: var(--hospitalGreen);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -.6rem;
    right: -.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}